@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');

html,body{
    margin:0;
    height:120%;
    font-family: 'Josefin Sans', sans-serif;
    background: rgb(0,0,0);
    background-image: linear-gradient(to bottom, rgba(109,105,104,0), rgba(0,0,0,1)),
    url('./images/house4.jpeg');
    background-repeat: no-repeat;
  background-size: cover;
  
}
  
header {
    display: flex;
    text-align: center;
    width: 100%;
    padding: 30px;
    justify-content: flex-start;

}

.headerbg{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.navigation a {
    text-decoration: none;
    font-size: 1.5rem;
    color: White;
    padding: 6px 15px;
    border-radius: 20px;
}

.navigation a:hover {
    background: White;
    color: Black;
}


.Graystone {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#text {
    position: absolute;
    letter-spacing: 30px;
    font-family: 'El Messiri', sans-serif;
    font-size: 6rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.paragraphs {
    background-color: black;
    height: 40vh;
    display: flex;
    justify-content: center;
    
}

.AboutGrayStone {
    color: White;
    font-size: 3rem;
    text-align: center;
    
}

.AboutParagraph {
    color: white;
    margin-right: 100px;
    margin-left: 100px;
}
.locations {
    height: 100vh;
}

.locationtext{
    color: white;
    font-size: 3rem;
    justify-content: center;
    text-align: center;
}

.wrapper1 {
    margin: 150px auto;
    width: 70%;
    background-color: black;
    margin-top: 0px;
}
.house1img {
    width: 320px;
    height: 250px;
    float: left;
    margin-right: 15px;
    border: 3px solid white;
    border-radius: 5px;
   
}
.text-box {
    color: White
}
.text-box h1 {
font-size: 42px;
}
.text-box p {
    font-size: 20px;
}

.wrapper2 {
    margin: 150px auto;
    width: 70%;
    background-color: black;
    margin-top: 0px;
}
.house2img {
    width: 320px;
    height: 250px;
    float: left;
    margin-right: 15px;
    border: 3px solid white;
    border-radius: 5px;
}

.wrapper3 {
    margin: 150px auto;
    width: 70%;
    background-color: black;
    margin-top: 0;
}
.house3img {
    width: 320px;
    height: 250px;
    float: left;
    margin-right: 15px;
    border: 3px solid white;
    border-radius: 5px;
}