@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');

html,body{
    margin:0;
    height:120%;
    font-family: 'Josefin Sans', sans-serif;
    background: rgb(0,0,0);
    background-image: linear-gradient(to bottom, rgba(109,105,104,0), rgba(0,0,0,1)),
    url('./images/house2.jpeg');
    background-repeat: no-repeat;
  background-size: cover;
  
}
  
header {
    display: flex;
    text-align: center;
    width: 100%;
    padding: 30px;
    justify-content: flex-start;

}

.navigation a {
    text-decoration: none;
    color: black;
    padding: 6px 15px;
    border-radius: 20px;
}

.navigation a:hover {
    background: Black;
    color: White;
}


.Graystone {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#text {
    position: absolute;
    letter-spacing: 30px;
    font-family: 'El Messiri', sans-serif;
    font-size: 6rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.paragraphs {
    background-color: black;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    
}

.AboutGrayStone {
    color: White;
    font-size: 3rem;
    text-align: center;
    
}

.AboutParagraph {
    color: white;
    margin-right: 100px;
    margin-left: 100px;
}

